@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

/*font-family: 'Poppins', sans-serif;*/


body{
	font-family: 'Poppins', sans-serif; font-size:15px; color:#333;
	font-weight:400;	
}

h1,h2,h3,h4,h5,h6{ font-weight:700;	font-family: 'Poppins', sans-serif;  }

a, a:hover, a:focus, :focus{ text-decoration:none; outline:none;}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
/*loader css*/
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/simple-pre-loader/images/loader-128x/Preloader_3.gif) center no-repeat #fff;
}
/* fix header
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}*/
.head-top {
    padding: 11px 0;
	background: #e6e6e6;
}
.call_mailinfo i.fa.fa-phone {
    font-size: 18px;
}
.call_mailinfo a span {
    padding-right: 60px;
    font-size: 14px;
    color: #000;
}
.call_mailinfo a span:hover {
    color: #00bcd4;
}
.head-bottom ul.nav.navbar-nav li a {
	font-weight:400;
}
a:hover{
	text-decoration:none;
	color:#00bcd4;
}
.call_mailinfo a i {
	color: #00bcd4;
    padding-right: 16px;
}
.icons {
    float: right;
}
.icons a {
	font-size: 16px;
	color: #00bcd4;
	padding: 0;
	margin-left: 9px;
}
.icons a i {
    color: #262626;
}
.icons a:hover i {
    color: #00bcd4;
}
.head-bottom .navbar-brand img {
    height: 74px;
	margin-left: -15px;
}
.head-bottom .navbar-brand span {
    float: right;
    margin-left: -24px;
    color: #262626;
    text-transform: uppercase;
    width: 0px;
    font-weight: bold;
    padding-top: 10px;
}
.head-bottom ul.nav.navbar-nav {
	padding-top: 28px;  
    float: right;
    font-size: 16px;
}
.head-bottom a.dropdown-toggle {
    color: #262626;
    font-weight: 600;
}
.head-bottom a.dropdown-toggle:hover {
    color: #00bcd4;
}
li a {
    color: #262626;
}
li a:hover{
	color: #00bcd4;
}
.head-bottom .btn-donate {
    padding-top: 13px;
}

.head-bottom li .btn-donate a {
	background: #00bcd4;
	border-radius: 35px;
	padding: 10px 15px;
	width: auto;
	transition: all 0.5s ease;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color:#fff;
}

.head-bottom ul.nav.navbar-nav li .btn-donate  a:hover {
	background: #000;
}


.head-bottom .nav>li>a:focus, .nav>li>a:hover{
	background-color:#fff;
	color:#00bcd4;
}
.head-bottom li.dropdown:hover .dropdown-menu {
	display: block;
	transition: all ease .5s;
	animation: fadeInDown;
	animation-delay: 0s;
	animation-name: fadeInUp;
	animation-duration:0.8s;
}
.head-bottom li.dropdown:hover .dropdown-menu li a {
	color: #fff;
	font-size: 15px;
	padding: 12px;
	margin: 0;
}
.head-bottom li.dropdown .dropdown-menu li a:hover {
    color: #00bcd4;
}
section.main-carousel {
    float: left;
    width: 100%;
    padding-top: 26px;
}
.main-carousel .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
	width: 100%;
	height: auto;
}
.main-carousel .carousel-caption {
	top: 33%;
	left: 0;
	right: 0;
	text-align: center;
	width: 65%;
	margin: 0 auto;
}
.main-carousel .carousel-caption h1 {
    font-size: 45px;
}
.main-carousel .carousel-caption h1 span {
    color: #00bcd4;
}
.main-carousel a.left.carousel-control {
    background: #00bcd4;
    top: 47%;
    left: 145px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.main-carousel span.glyphicon.glyphicon-chevron-left {
    top: 25px;
    left: 25px;
}
.main-carousel a.right.carousel-control {
    right: 145px;
    top: 47%;
    width: 60px;
    background: #00bcd4;
    height: 60px;
    border-radius: 100%;
}
.main-carousel span.glyphicon.glyphicon-chevron-right{
	top:25px;
	right:25px;
}
.services {
    float: left;
    width: 100%;
    padding: 150px 0;
}
.box_service {
    border-bottom: 4px solid #00bcd4;
    padding: 70px;
    box-shadow: 0px 0px 19px -7px grey;
    position: relative;
	padding-bottom:125px;
}
.icon_service {
    text-align: center;
    padding-bottom: 15px;
}
.icon_service img {
    height: 78px;
}
.box_service h4 {
	position:relative;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
	padding-bottom: 88px;
}
.box_service::after {
position: absolute;
    content: "";
    background: rgba(0,0,0,0.35);
    width: 90%;
    height: 10px;
    border-radius: 100%;
    filter: blur(2px);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 100%;
    opacity: 0;
	z-index:-1;
}
.box_service:hover {
	transition: all 0.5s ease;
	transform: translateY(-25px);
}
.box_service:hover::after {
    opacity: 1;
    }
.box_service h4::before {
    position: absolute;
    background: #00bcd4;
    content: "";
    width: 32px;
    height: 2px;
    top: 50%;
    left: 0;
	right:0;
	margin:0 auto;
}
.box_service h4::after {
    position: absolute;
    background: #00bcd4;
    content: "";
    width: 48px;
    height: 2px;
    top: 59%;
    left: 0;
	right:0;
	margin:0 auto;
}
.text {
    text-align: center;
    font-size: 16px;
    color: #757575;
    position: absolute;
    top: 64%;
    padding: 0 70px;
    z-index: 1;
    left: 0;
	right:0;
	margin:0 auto;
}
.more {
    position: absolute;
    background: #fff;
    content: "";
    border-radius: 100%;
    width: 50px;
    height: 50px;
    bottom: -28px;
    left: 0;
	right:0;
	margin:0 auto;
    box-shadow: 0 0 4px 0px #000;
}
.more a i {
    font-size: 21px;
    padding-top: 13px;
    color: #00bcd4;
    padding-left: 16px;
}

.director_notes {
    float: left;
    width: 100%;
    padding-bottom: 150px;
}
.director_notes .container-fluid{
	padding-right: 15px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;	
}
.big_img {
    position: relative;
}
.small_img {
    position: absolute;
    right: -110px;
    bottom: -65px;
    border: 15px solid #fff;
}
.big_img img,.small_img img{width:100%;}
.charity {
    padding-left: 242px;
    position: relative;
}
.charity h4 {
	position:relative;
	text-align:left;
    font-style: italic;
    font-size: 24px;
}
.charity h4::before {
    position: absolute;
    background: #00bcd4;
    content: "";
    width: 30px;
    height: 2px;
    top: 11px;
    left: 35%;
}
.charity h4::after {
    position: absolute;
    content: "";
    background: #00bcd4;
    width: 50px;
    height: 2px;
    top: 19px;
    left: 35%;
}
.charity h1{text-align:left;}
.charity h1 span {
    color: #00bcd4;
}
.charity p {
    padding-bottom: 20px;
    font-size: 17px;
	text-align:justify;
}
.director {
    position: relative;
    padding-top: 15px;
}
.director span {
    font-size: 18px;
}
.director img {
    position: absolute;
    top: 47px;
    left: -6px;
}
.mission{
	float:left;
	width:100%;
	background:#EFF0F0;
	padding-top: 72px;
	padding-bottom:70px;
}
.icon{
	text-align:center;
	position:relative;
}
.icon img {
    height: 92px;
}
.line {
    position: absolute;
    content: "";
    background: #000;
    width: 36px;
    height: 2px;
    bottom: 30px;
    left: 42%;
}
.icon::after {
    position: absolute;
    content: "";
    background: #000;
    width: 24px;
    height: 2px;
    bottom: 36px;
    left: 43%;
}
.line::after {
    position: absolute;
    content: "";
    background: #000;
    width: 36px;
    height: 2px;
    bottom: 0px;
    right: -144px;
}
.line::before {
    position: absolute;
    content: "";
    background: #000;
    width: 24px;
    height: 2px;
    bottom: 6px;
    right: -132px;
}
.heading {
    text-align: center;
    padding: 20px 0;
}
.heading h1 span {
    color: #00bcd4;
    font-size: 40px;
}
.heading h1 {
    padding-bottom: 10px;
}
.heading p {
    padding-bottom: 60px;
    font-size: 17px;
}
.block {

    position: relative;
    padding: 85px 0 85px 0px;
    margin-bottom: 35px;
    background: #fff;
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1);

}
.icon_new {

    text-align: center;

}
.icon-display img {

    width: 75px;
    height: 75px;

}
.icon_new h4 {

    font-size: 26px;
    font-weight: bold;
    position: relative;
    padding-top: 35px;

}
.icon_new h4::before {

    position: absolute;
    content: "";
    background: #00bcd4;
    top: 9px;
    left: 45%;
    width: 30px;
    height: 2px;

}
.icon_new h4::after {

    position: absolute;
    background: #00bcd4;
    content: "";
    width: 54px;
    height: 2px;
    top: 18px;
    left: 42%;

}
.overlay {

    position: absolute;
    background: #00cbe6;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;

}
.text-content {

    text-align: center;
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: 23%;
    padding: 0 50px;
	z-index:1;
}
.overlay h4 {

    position: relative;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    top: 59%;
	z-index:1;
}
.overlay h4::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background: #fff;
    top: -26px;
    left: 0;
	right:0;
	margin:0 auto;
}
.overlay h4::after {
    position: absolute;
    content: "";
    width: 52px;
    height: 2px;
    background: #fff;
    top: -17px;
    left: 0;
	right:0;
	margin:0 auto;
}
.overlay .icon-display img {
    width: 179px;
    height: 172px;
    position: absolute;
    left: 0;
	right:0;
	margin:0 auto;
    top: 22%;
}
.block:hover .overlay {
	transition: all 1s ease;
    opacity: 1;
	height:100%;

}
.outer-hand{
	background:url(../images/helping-hand.jpg);	
	position:relative;
	height:400px;
}
/**events**/
.events {
	height:882px;
    float: left;
    width: 100%;
    padding: 75px 0;
}
.events .icon i {
    font-size: 62px;
    color: #00bcd4;
}
.event-date{
    float: left;
    display: inline-block;
}
.event-location {
    float: right;
    display: inline-block;
}
.event-date i,.event-location i {
    color: #00bcd4;
    padding-right: 5px;
}
.event-date span {
	font-weight:bold;
    padding-right: 5px;
    font-size: 12px;
}
.event-location span {
	font-weight:bold;
    font-size: 12px;
}
.event-content {
	line-height:24px;
	padding:0 5px;
    text-align: justify;
    font-size: 14px;
    padding-top: 37px;
}
.events .normal-imglist {
    padding: 0 0px;
}
.events .util-prev {
    right: 0;
    position: absolute;
    background: #777;
    left: -82px;
    margin: 0 auto;
    top: 115%;
}
.events .util-next {
    right: 0;
    position: absolute;
    background: #777;
    left: 50px;
    margin: 0 auto;
    top: 115%;
}
.events .util-prev i {
    position: absolute;
    color: #fff;
    top: -5px;
    left: 0px;
    right: 0;
}
.events .util-next i {
    position: absolute;
    color: #fff;
    top: -5px;
    left: 0px;
    right: 0;
}
/*team*/
.team {
	background:#f3f8f9;
	height:850px;
    float: left;
    width: 100%;
    padding: 100px 0;
}
.team .util-theme-default .util-pagination{
	margin-top:45px;
	}
.team.sample-img .overlay {
    background-color: #00bcd4;
}
.util-theme-default .util-page:hover span {
    background-color: #00bcd4;
}
.util-theme-default .util-page.active-page span {
    background-color: #00bcd4;
}
/***/
.helpingHand {
	position:relative;
    float: left;
    width: 100%;
}
.outer-hand::after {
    position: absolute;
    background: rgba(0,0,0,0.8);
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.inner-hand h1 {

    position: absolute;
    color: #fff;
    z-index: 1;
    top: 25%;
    font-size: 45px;
    right: 0;
    text-align: center;
	left:0;

}
.inner-hand h3 {
    position: absolute;
    color: #fff;
    content: "";
    top: 62%;
    font-style: italic;
    left: 44%;
	margin:0 auto;
}
.inner-hand h3::before {
    position: absolute;
    content: "";
    background: #00bcd4;
    width: 50px;
    height: 2px;
    top: 20px;
    left: -68px;
}
.inner-hand h3::after {
    position: absolute;
    content: "";
    background: #00bcd4;
    width: 28px;
    height: 2px;
    top: 12px;
    left: -47px;
}
.line-inner::before {
    position: absolute;
    content: "";
    background: #00bcd4;
    width: 50px;
    height: 2px;
    top: 20px;
    left: 105%;
}
.line-inner::after {
    position: absolute;
    content: "";
    background: #00bcd4;
    width: 28px;
    height: 2px;
    top: 12px;
    left: 105%;
}
/*testimonial*/
.volunteer-view {
    float: left;
    width: 100%;
    background: #f5feff;
    padding: 92px 0;
}
.volunteer-view .testimonial-user {
    position: relative;
}
.volunteer-view .testimonial-user-thumb {
	position:relative;
    height: 115px;
    width: 115px;
    border-radius: 50%;
    overflow: visible;
    border: 2px solid #fff;
    float: none;
    margin:0 auto 0 auto;
}
.volunteer-view .testimonial-user-thumb:before {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 28px;
    left: -105px;
    font-style: normal;
    font-size: 42px;
    font-family: FontAwesome;
    color: #00bcd4;
    content: "\f10d";
}
.volunteer-view .testimonial-user-thumb:after {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 28px;
    right: -160px;
    font-style: normal;
    font-size: 42px;
    font-family: FontAwesome;
    color: #00bcd4;
    content: "\f10e";
}
.volunteer-view .testimonial-user-meta {
    font-size: 17px;
    line-height: 27px;
    color: #000;
    text-align: center;
    margin:36px 0 50px auto;
}
.volunteer-view .user_end {
    text-align:center;
	}
.volunteer-view .user_end h3 {
    font-size: 18px;
    font-weight: bold;
}
.volunteer-view .user_end h3 span{
    font-size: 16px;
    font-weight: normal;
	padding-left:10px;
}
.util-theme-default .util-prev, .util-theme-default .util-next{
	padding: 8px 8px;
	width: 55px;
    height: 37px;	
}
i.icon-left-open-big, i.icon-right-open-big {
    font-size: 16px;
}
.volunteer-view .util-navigation {
    margin-top:36px;
}
.util-theme-default .util-prev:hover, .util-theme-default .util-next:hover{
	background:#00bcd4;
}
/*footer*/
.foot {
    float: left;
    width: 100%;
    background: #0a0a0a;
    padding: 90px 0;
	padding-bottom:32px;
	color:#999;
}
.foot-top {
    padding-bottom: 64px;
    border-bottom: 1px solid #757575;
}
.foot-logo {
    position: relative;
}
.foot-logo img {
    width: 85px;
}
.foot-logo span {
    color: #999;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: -33px;
    left: 112%;
}
.footer-text1 {
    padding: 45px 0;
    font-size: 14px;
}
.social-symbols a {
    position: relative;
    padding-right: 34px;
}
.foot-bottom {
    padding: 30px 0;
}
.foot-bottom-left {
    font-size: 17px;
}
.foot-bottom-left a {
    color: #00bcd4;
}
.social-symbols a {
    padding-right: 50px;
}
.social-symbols a i {
    position: absolute;
    content: "";
    background: #595959;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding-left: 13px;
    padding-top: 11px;
    color: #fff;
    font-size: 17px;
}
.social-symbols a:hover i {
    background: #00bcd4;
}
.links ul {
    padding: 0;
    padding-top: 15px;
}
.links ul li {
    list-style: none;
    padding: 7px 0;
}
.links ul li a {
    color: #999;
    font-size: 14px;
}
.links ul li a i {
    font-size: 12px;
    padding-right: 10px;
}
.links ul li:hover a {
    color: #00bcd4;
}
.contact ul {
    padding: 0;
    padding-top: 12px;
}
.contact ul li {
    list-style: none;
    padding: 9px 0;
}
.contact ul li i {
    font-size: 20px;
    padding-right: 15px;
}
.contact ul li span {
    font-size: 14px;
}
.contact ul li span a {
    color: #999;
}
.contact ul li span a:hover {
    color: #00bcd4;
}
.address {
    display: inline-block;
    padding-left: 28px;
    margin-top: -21px;
}
.message {
    padding-top: 16px;
}
.message .form-group .col-sm-10 {
    padding-left: 33px;
}
.message .form-control {
    margin-left: 30px;
}
.message .btn-default{margin-left:32px;}
/*
.message .form-control{
	height:26px;
	}
	textarea.form-control {
    height: 98px;
}*/
button.btn.btn-default:hover {
    background: #00bcd4;
    color: #fff;
}
.footer-heading h4 {
    margin: 0;
    text-transform: uppercase;
    color: #fff;
}
.foot-bottom-right{
	float:right;	
}
.foot-bottom-right a {
    font-size: 17px;
    color: #00bcd4;
    padding-left: 40px;
}

/*pop up page*/

.donation-page{width:1050px;}
.donation-content {
    background: #f2f2f2;
    padding: 30px;
    border: 5px solid #00bcd4;
}
.amount-donate {
    background: #fff;
    /*border: 1px solid #ccc;*/
    padding: 32px;
}
.amount-donate input[type=radio]{display:none;}
.amount-donate label.radio-inline {
    font-weight: 600;
    border: 1px solid #ccc;
    padding-left: 0;
    padding: 14px;
    margin-right: 28px;
}
.amount-donate span {
    padding-right: 9px;
    padding-left: 0px;
    font-size: 16px;
}
.amount-donate input {
    display: inline-block;
    width: 30%;
    padding: 24px;
}
.donation-content h2 {
    margin: 36px 0;
    font-weight: bold;
	display:inline-block;
}
.donor-info {
    background: #fff;
    padding: 50px;
}
.donor-info label {
    font-weight: 400;
    font-size: 18px;
}
button.btn.btn-default.d-close {
    position: absolute;
    right: 36px;
}
/*.donation-submit {
    padding-left: 23px;
    line-height: 59px;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}
.donation-submit:after {
    border-radius: 35px;
    position: absolute;
    background: #00bcd4;
    content: "";
    width: 180px;
    height: 55px;
    top: 0;
    left: 0;
    z-index: -1;
}*/
.donor-payment .checkbox-inline{
padding-left: 50px;
    margin-bottom: 11px;
}/*
.donation-content button.close {
    position: absolute;
    font-size: 46px;
    right: 35px;
    top: 22px;
}
.donation-submit a{color:#fff;}
.donation-close a {
    bottom: 17px;
    position: absolute;
    right: 55px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    z-index: 1;
}
.donation-close:after {
    position: absolute;
    content: "";
    background: #00bcd4;
    width: 180px;
    height: 55px;
    border-radius: 35px;
    right: 0;
    top: -58px;
}
.donation-close {
    position: relative;
}*/
.donation-content .modal-footer{text-align:inherit;}
.modal-footer .btn-default {
    margin-top: 12px;
    border: #00bcd4;
    background: #00bcd4;
    padding: 10px 32px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

/****22 july css****/

.main-carousel .carousel-inner {
  height: 630px;
}
.main-carousel .carousel-inner .item {
  height: 630px;
}

.main-carousel .carousel-caption h3 {
	font-weight: 400;
	font-size: 19px;
	background: rgba(0,0,0,0.4);
	padding: 21px 10px;
}

.head-bottom li.dropdown .dropdown-menu {
	background: none;
	box-shadow: none;
	border: none;
	padding: 26px 0 0 0;
	
}


.goup-container {
    width: 55px  !important;
    height: 55px	!important;
    background: #00bcd4	!important;
    border-radius: 100%	!important;
}
.goup-arrow{padding-top:20px !important;}


/***responsive****/

@media (max-width:1815px){
		.charity h4::before{left:40%;}
		.charity h4::after{left:40%;}
		.charity p{font-size:15px; margin:0;}
		.director{padding-top:0;}
		.director img{top:19px;}
}  
@media (max-width:1585px){
		.charity h4::after{left:50%;}
		.charity h4::before{left:50%;}
		.charity p{font-size:14px;}
		.inner-hand h3{left:40%;}
}
@media (max-width:1470px){.charity h4::after{left:45%;}
		.charity h4::before{left:45%;}
		.director img{height:75px;}
		.main-carousel .carousel-caption {
	top: 27%;
}

.carousel-indicators {
	bottom: 60px;
}

.main-carousel .carousel-caption h3 {
	font-size: 16px;
	padding: 21px 10px;
	line-height: 30px;
}

		}
@media (max-width:1366px){
		.main-carousel a.left.carousel-control{left:40px;}
		.main-carousel a.right.carousel-control{right:40px;}
		.charity h4::after{left:60%;}
		.charity h4::before{left:60%;}
		.event-location span,.event-date span{font-size:11px;}
}
@media (max-width:1310px){
		.head-top{padding:15px 0;}
		.call_mailinfo i.fa.fa-phone {font-size: 16px;}
		.call_mailinfo a span{font-size:13px;}
		.icons a{font-size:15px;}
		.head-bottom .navbar-brand img{height:68px;position:absolute;}
		.head-bottom .navbar-brand span{padding-top: 22px;
							font-size: 18px;
							padding-left: 87px;
							color: #00bcd4;
							width:285px;}
		.head-bottom ul.nav.navbar-nav{font-size:14px;}
		.head-bottom .nav > li > a{padding: 10px 7px;}
		.head-bottom .btn-donate{padding-top: 10px;
					width: 115px;
					height: 39px;
					font-size: 14px;
					margin-top: 0px;}
		.head-bottom li .btn-donate a{font-size:11px;}
		.main-carousel a.left.carousel-control{left: 50px;}
		.main-carousel a.right.carousel-control{right:60px;}
		.main-carousel .carousel-caption h1{font-size:36px;}
		.main-carousel .carousel-caption h3 {font-size: 19px;}
		.main-carousel .carousel-indicators {bottom: 45px;}
		.main-carousel .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    width: 100%;    height: auto;}
		.services{padding:70px 0;}
		.icon_service img{height:74px;}
		.box_service h4{padding-bottom: 50px;
						font-size: 17px;}
		.text{font-size:15px;}
		.more{width: 40px;
			  height: 40px;
			  bottom: -22px;}
	    .more a i{padding-left:12px;}
		.charity h4{margin:0;}
		.charity h1{font-size: 32px;margin-top: 10px;}
		.director{margin-top:-38px;}
		.director img {top: 54px;height: 66px;}
		.director span {font-size: 18px;top: 24px;position: absolute;}
		.icon img {height: 80px;}
		.heading{padding:0;}
		.heading h1{font-size:34px;}
		.heading p{font-size:16px;}
		.icon_new h4{font-size:20px}
		.icon-display img{height:65px}
		.event-main-heading{font-size:34px;}
		.event-image img {width: 315px;}
		.event-heading h4{font-size:15px;margin-right:55px;}
		.event-content{line-height:21px;font-size:13px;padding-top:20px;}
		.event-date {display: block;float: none;font-size: 14px;font-weight: 500;padding-top:15px;padding-bottom:10px;}
		.event-location {
    			float: none;
    			display: block;
    			font-size: 14px;
    			font-weight: 500;}
		.team{height:765px;padding:75px 0;}
		.outer-hand{height:300px;}
		.inner-hand h3{top:66%;left:39%;}
		.volunteer-view{padding:80px 0;padding-bottom:60px;}
		/*.testimonial-user-thumb{height:100px;width:100px;}
		.testimonial-user-meta{top:-47px;font-size:15px;}
		.user_end{bottom:-55px;}
		.user_end h3{font-size:16px;}
		.user_end h3 span{font-size:14px;}*/
		.foot{padding:75px 0 0 0;}
		.foot-bottom{padding:15px 0;}
		.foot-bottom-left,.foot-bottom-right {font-size: 14px;}
		.foot-bottom-right a {font-size: 14px;}
		.foot-logo img{width:75px;}
		.foot-logo span{font-size: 16px;top:-22px;}
		.footer-text1 {padding: 32px 0;font-size: 13px;}
		.social-symbols a i{width: 30px;height: 30px;width: 30px;font-size:16px;padding-left: 8px;padding-top: 7px;}
		.footer-heading h4{font-size:16px;}
		.links ul{padding-top:7px;}
		.links ul li{padding:3px 0;}
		.contact ul{padding:6px 0;}
		.contact ul li{padding:5px 0;}
		.contact ul li i {font-size: 16px;padding-right: 12px;}
		.message {padding-top: 11px;}
		/*.message .form-control {height: auto;}*/
		.message .btn{padding: 4px 8px;font-size: 13px;	}
		
		.main-carousel .carousel-inner {
	height: 490px;
}
.main-carousel .carousel-inner .item {
	height: 490px;
}

.main-carousel .carousel-caption h1 {
	font-size: 30px;
}

.inner-hand h1 {
	font-size: 31px;
	font-weight: 600;
	line-height: 42px;
}

.inner-hand h3 {
	top: 66%;
	left: 39%;
	font-size: 19px;
}

}
@media(max-width:1200px){
	.head-bottom .call_mailinfo a span{padding-right:15px;}
	/*.head-bottom ul.nav.navbar-nav{padding-top:33px;}*/
	.box_service h4{padding-bottom: 26px;
    font-size: 12px;
    }
	.more a i{padding-top:10px;font-size:18px;}
	.charity {
    padding-left: 250px;
}
.block{height:312px;}
.icon_new{display:none;}
.overlay{opacity:1;height:100%;}
.overlay h4{font-size:21px;top:68%;}
.charity h4::before,.charity h4::after{display:none;}
.charity h4{font-size:17px;}
.charity h1{font-size:23px;}
.charity p {
    font-size: 13px;
    padding-bottom: 0;
    padding-right: 22px;
	}
	.small_img img{height:250px;}
	.icon img{padding-left:10px;}
	.director {
    margin-top: 0;
}
	.social-symbols a {
    padding-right: 36px;
}
	.social-symbols a i{padding-left:9px;font-size:14px;}
	
	.call_mailinfo a span {
	padding-right: 20px;
}

.call_mailinfo a i {
	padding-right: 10px;
}
.box_service h4::before{top:28px;}
.box_service h4::after{top:38px;}
.links ul li a{font-size:13px;}
.donation-page {
    width: 882px;
}
.amount-donate input{width:16%;padding: 24px 12px;font-size:12px;}
}
@media(max-width:1140px){
.charity {
    padding-left: 120px;
}
.contact ul li span {
    font-size: 13px;
}
.events .icon i{margin-left:30px;}
}
@media(max-width:1000px){
	.call_mailinfo {

    text-align: center;

}
.head-bottom ul.nav.navbar-nav {
	padding-top: 0;
}
	.main-carousel .carousel-caption {
	top: 17%;
}
	.text{top:62%;left:0;padding:0}
	.main-carousel a.left.carousel-control{top: 41%;left:5px;background:none;}
	.main-carousel a.right.carousel-control{top: 41%;right:5px;background:none;}
	.main-carousel .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .main-carousel .thumbnail > img {
    width: 100%;
    height: auto;
}

	.icons {
    text-align: center;
    float: none;
    padding-top: 12px;
}
.box_service{padding:70px 12px 125px 12px;}
.box_service h4::before{top:65%;}
.box_service h4::after{top:85%;}
.inner-hand h3 {
    top: 69%;
    left: 32%;
}
.foot-bottom-left, .foot-bottom-right {
    font-size: 13px;
}
.foot-bottom-right a {
    font-size: 13px;padding-left:8px;
}
.footer-heading {

	padding-top: 27px;
}
.foot {
    padding: 23px 0 0 0;
}
.symbol {
    padding-top: 28px;
}
/*.form-control{width:200px;}*/
.address{padding-left:0px;}

.main-carousel .carousel-caption h1 {
	font-size: 28px;
}

.main-carousel .carousel-inner {
	height: 390px;
}

.main-carousel .carousel-caption h3 {
	font-size: 16px;
	padding: 15px 8px;
}


}
@media(max-width:988px){
	.call_mailinfo {
    text-align: center;
}
.head-bottom .navbar-brand span {
	display: none;
}

.head-bottom .btn-donate {
	margin-top: 0;
	margin-left: 8px;
	margin-right: 0;
}

.head-bottom li .btn-donate a {
	border-radius: 35px;
	padding: 10px 15px;
	font-size: 12px;
}

.head-bottom .nav > li > a{padding-top:0;padding-right:0;}
.head-bottom .btn-donate {
	margin-top: -10px;
	margin-left: 8px;
	margin-right: 0;
}
.small_img{right: 38%;
bottom: 0;}
.charity {
    text-align: center;
    padding: 20px;
}
.charity p
{
padding-right:0;
}
.charity h1,.charity p, .charity h4{text-align:center;}
.director img{left:50%;}
.director span{left:0; right:0; margin:0 auto;}
.director img {
    left: 0;
    right: 0;
    margin: 0 auto;
}
.icon img{padding-left:60px;}
.form-group {
    margin-bottom: 10px;
}
textarea.form-control {
    height: 72px;
}

.navbar-brand {
	float: left;
	height: 59px;
	padding: 5px 15px;
}

.head-bottom ul.nav.navbar-nav {
	padding-top: 36px;
}

.head-bottom .navbar-brand img {
	height: auto;
	position: absolute;
	width: 84px;
}
.amount-donate span{display:block;padding-left: 250px;}
.amount-donate input{width: 45%;
    padding: 24px 12px;
	text-align: center;
    margin-left: 104px;}
	.donor-info{padding-top:8px;}
.donation-page {
    width: 730px;
}
}
@media (min-width:767px){
	.head-bottom li.dropdown:hover .dropdown-menu {
	display: block;
	transition: all ease .5s;
	animation: fadeInDown;
	animation-delay: 0s;
	animation-name: fadeInUp;
	animation-duration:0.8s;
}
.head-bottom li.dropdown:hover .dropdown-menu li a {
	color: #fff;
	font-size: 15px;
	padding: 12px;
	margin: 0;
}
.head-bottom li.dropdown:hover .dropdown-menu li a:hover {color:#00bcd4;}
	.head-bottom li.dropdown a{ pointer-events:none;}	
li.dropdown:hover .dropdown-menu {
    display: block;
	transition: all ease .1s;
}

.head-bottom li.dropdown .dropdown-menu li {
	background: #00BCD4;
	margin: 0;
}

.head-bottom li.dropdown .dropdown-menu li a{ pointer-events:inherit;}
.message.form-control {
    margin-left: 0;
}

}
@media(max-width:767px){
	.head-bottom span.icon-bar {
    background: #000;
	}
.head-bottom .navbar-collapse .collapse .in {
    padding-top: 14px;
    margin-top: 56px;
    border-top: 1px solid #eee;
}
.head-bottom button.navbar-toggle {
    margin-top: 30px;
}
.head-bottom .navbar-collapse.collapse, .head-bottom .navbar-collapse.collapse.in, .head-bottom .navbar-collapse.collapsing {
    margin-top: 29px;
    /*padding-top: 20px;*/
    border-top: 1px solid #e2e2e2;
}
.head-bottom ul.nav.navbar-nav {
    float: left;
    width: 100%;
	padding-top:10px;
}
ul.dropdown-menu li {
    padding-bottom: 0;
    background: #00bcd4;
}
.head-bottom .btn-donate{margin-top:5px;}
.head-bottom li.dropdown:hover .dropdown-menu{width:100%;}
.inner-hand h1{font-size:32px;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: none;
    border-color: none;
}
.icon img {
    padding-left: 0px;
}
.line{left:36%;}
.icon::after{left:37.5%;}
.box_service{margin-bottom:45px;}	
.main-carousel .carousel-caption h1 {
    font-size: 32px;
}
.main-carousel .carousel-caption h3 {
    font-size: 15px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 8px;
}
.main-carousel .carousel-indicators {
    bottom: 10px;
}
.foot-bottom-left,.foot-bottom-right {
    float: none;
	text-align:center;
}
.events .icon i {
    margin-left: 0;
}
.icon img {
    padding-left: 0;
    margin-left: -15px;
}
.form-control {
    margin-left: 0;
}
.message .form-group .col-sm-10 {
    padding-left: 16px;
}
.message .btn-default {
    margin-left: 0;
}
.main-carousel .carousel-inner {
    height: 335px;
}

.head-bottom li.dropdown .dropdown-menu {
	padding: 0px 0 0 0;
}
.donation-page {
    width: 465px;
	margin:0 auto;
}
.donation-page h1{font-size:28px;}
.donation-page h2{font-size:20px;}
.amount-donate{padding:5px;}
.amount-donate label.radio-inline{padding: 4px;
    margin-right: 2px;}
	.amount-donate span{padding-left: 0;
    text-align: center;}
	.amount-donate input{padding: 16px 0px;}
	.donor-info{padding:12px;}
.donation-page label{font-size: 15px;}
.donor-payment .checkbox-inline{padding-left:18px;}
.modal-footer .btn-default{margin-top: 0;padding: 10px 7px;font-size:14px;}
.donation-page {
    width: 286px;}
.donation-page h1{font-size: 18px;}
.donation-content h2 {
    margin: 5px 0;
    font-size: 15px;
    font-weight: 600;}
	.amount-donate label.radio-inline{width: 86px;
    display: block;margin: 0;
    margin-bottom: 10px;}
	.amount-donate span{text-align:left;}
	.amount-donate input{width:50%; margin-left:0;}
	.donation-content h2{font-size:13px;}
	.donor-payment .checkbox-inline{display: block;
    margin: 0;margin-bottom:10px; }
	.modal-footer{padding:0; padding-top:10px;}
	.donation-page ol {
    padding-left: 13px;
	font-size:12px;
}
.donation-page li {
    margin-bottom: 6px;
}
.donation-page span,p{font-size:13px;margin-bottom:10px;}
}
@media(max-width:626px){
	.services{padding-top:0;}
.icon img{margin-left:15px;}
.inner-hand h3{left:25%;}
.main-carousel .carousel-caption {
    top: 8%;
}
.main-carousel span.glyphicon.glyphicon-chevron-left{top:-20px;}
.main-carousel span.glyphicon.glyphicon-chevron-right{top:-20px;}
.main-carousel .carousel-caption h3{display:none;}
.main-carousel .carousel-indicators{display:none;}
}
@media(max-width:510px){
.call_mailinfo a i{padding-right:2px;}
.line{left:32%;}
.icon::after {
    left: 34.5%;
}
.inner-hand h1 {
    font-size: 19px;
}
.inner-hand h3 {
    left: 23%;
    font-size: 14px;
}
.main-carousel .carousel-caption {
    top: 8%;
}	
.main-carousel .carousel-caption h1 {
    font-size: 26px;
}
.main-carousel .carousel-inner {
    height: 235px;
}
.main-carousel .carousel-caption h3 {
    font-size: 16px;
}
.small_img{right:28%; border:none;}
.small_img img {

    height: 180px;
	width:185px;

}
.charity h1{font-size:21px;}
.charity p{text-align:justify;}
.resize{width:100%;}
}
@media(max-width:410px){.icon::after {
    left: 30%;
}
.line {
    left: 27%;
}
.call_mailinfo a span{padding-right:4px;}
.foot-bottom-left,.foot-bottom-right{font-size:10px;}
/*.foot-bottom-right {
    float: left;
}*/
}
@media(max-width:350px){.icon::after {
    left: 26%;
}
.line {
    left: 22%;
}
}


/**********contact us css***********/
.title {
    background: url(../images/poor2.jpg);
    height: 400px;
    width: 100%;
    float: left;
    margin-top: 18px;
    position: relative;
	z-index:1;
}
.contact-content {
    color: #fff;
    margin: 0 auto;
    font-size: 56px;
    font-weight: bold;
	text-align:center;
	padding-top:145px;
}
section.title:after {
    position: absolute;
    content: "";
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index:-1;
}section.location-contact {
    float: left;
    width: 100%;
	padding:10px 0;
}
.contact-route {
    font-size: 16px;
}
.contact-route i {
    font-size: 23px;
    color: #00bcd4;
}
.contact-route span {
    color: #00bcd4;
}
.map {
    float: left;
    width: 100%;
}
.contact-info {
    float: left;
    width: 100%;
    padding: 75px 0;
}
.contact-info h1 {
	position:relative;
    font-size: 39px;
    font-weight: bold;
    padding-bottom: 21px;
	margin-bottom:45px;
}
.contact-info label {
	color:#777;
    font-size: 19px;
    font-style: italic;
}
.contact-info h1::after {

    position: absolute;
    content: "";
    background: #00bcd4;
    width: 55px;
    height: 2px;
    bottom: -15px;
    left: 0px;

}
.contact-info h1::before {

    position: absolute;
    content: "";
    background: #00bcd4;
    width: 30px;
    height: 2px;
    bottom: -7px;
    left: 0px;

}
.contact-info input {

    border-radius: 30px;
    height: 45px;
    margin-bottom: 45px;

}
.contact-info textarea {
	padding-left:21px;
	padding-top:14px;
    border-radius: 35px;
    height: 150px;
    margin-bottom: 35px;

}
.button {

    padding-left: 16px;

}
.button .btn {

    font-weight: bold;
    font-size: 16px;
    border-radius: 35px;
    padding: 13px 56px;
    background: #00bcd4;
    color: #fff;

}
.address-info h3 {
	margin-bottom: 45px;
    padding-bottom: 23px;
	position:relative;
    padding-top: 9px;
    font-weight: bold;
}
.address-info h3::after {

    position: absolute;
    content: "";
    background: #00bcd4;
    width: 55px;
    height: 2px;
    bottom: -15px;
    left: 0px;

}
.address-info h3::before {

    position: absolute;
    content: "";
    background: #00bcd4;
    width: 30px;
    height: 2px;
    bottom: -7px;
    left: 0px;

}
.contact-details {
    position: relative;
}
.contact-details i {
    font-size: 28px;
    padding-top: 35px;
	padding-left:10px;
}
.address-content {
    position: absolute;
    top: 10px;
    left: 52px;
}
.contact-details::after {
    position: absolute;
    background: #d3d3d3;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -33px;
    left: 53px;
}
.contact-details::before {

    position: absolute;
    background: #00bcd4;
    content: "";
    width: 12%;
    height: 2px;
    bottom: -33px;
    left: 5px;

}
.contact-info .col-md-5 {

    padding-left: 68px;

}
.contact-details {

    margin-bottom: 50px;

}
.contact-details h4{font-weight:bold;}
.address-info .social-symbols{padding-top:22px;}
.message .form-group {

    width: 100%;
    float: left;

}
.message.form-control {
    margin-left: 25px;
}

.list-up img {
    width: 100%;
}

/*****events******/
section.list-events {
    float: left;
    width: 100%;
}
.list-up {
    position: relative;
}

.list-overlay {
    position: absolute;
    content: "";
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
	visibility:hidden;
	opacity:0;
}
.list-up a {
	text-transform:uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    padding: 10px 21px;
    border: 2px solid #fff;
    border-radius: 35px;
}
.list-overlay a:hover {
    background: #00bcd4;
    border-color: #00bcd4;
}
.list-up:hover .list-overlay {
    transition: 0.7s cubic-bezier(0.34,-0.13,0.34,1.1);
    opacity: 1;
    height: 100%;
    visibility: visible;
}
.list-down {
    margin: 23px 0;
}
.event-time {
    border-right: 1px solid #eee;
    color: #00bcd4;
    float: left;
    display: inline-block;
    margin-right: 23px;
}
.event-time h2 {
    padding-right: 21px;
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 0;
}
.event-time span {
    font-weight: bold;
    padding-right: 5px;
    font-size: 21px;
}
.event-detail {
    padding-top: 22px;
}
.event-detail span {
    font-size: 15px;
    padding-right: 75px;
    color: #00bcd4;
}
.event-detail span i {
    padding-right: 4px;
}
.event-detail h3 {
    margin: 6px;
    font-weight: 600;
    font-size: 30px;
    margin-top: 14px;
	text-transform:uppercase;
}
.list-item {
    margin-bottom: 72px;
}
/*********about us**********/
section.aboutus {
    float: left;
    width: 100%;
}
.about-tag {
    text-align: center;
    margin: 65px 0 40px 0;
}
.about-tag h4 {
    font-style: italic;
    position: relative;
}
line1:before {
    position: absolute;
    content: "";
    background: #00bcd4;
    width: 31px;
    height: 1px;
    left:31.5%;
    bottom: 10px;
}
line1:after {
	left:30%;
    position: absolute;
    content: "";
    background: #00bcd4;
    width: 50px;
    height: 1px;
    bottom: 5px;
}

.about-tag h4:before {
    position: absolute;
    content: "";
    background: #00bcd4;
    width: 31px;
    height: 1px;
    right: 31.55%;
    bottom: 10px;
}
.about-tag h4:after {
    right: 30%;
    position: absolute;
    content: "";
    background: #00bcd4;
    width: 50px;
    height: 1px;
    bottom: 5px;
}
.about-tag h1 {
    font-weight: 600;
}
.about-tag h1 span{
    color:#00bcd4;
}
section.aboutus p {
    line-height: 24px;
    word-spacing: 2px;
    text-align: center;
}
.aboutus h1{text-transform:uppercase;}
.vision{margin-top:120px;}

/******team page*****/
section.team-member {
    float: left;
    width: 100%;
    padding: 120px 0;
}
.member-details {
	height:350px;
	text-align:center;
    position: relative;
}
.member-image {
	top:85px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 265px;
    overflow: hidden;
    height: 260px;
}
.member-image img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}/*
.member-name{position:absolute;left:0;right:0; margin:0 auto;}*/
/*.member-image:hover{
    transition: all 3s ease;
    right: 65%;
}*//*
.member-name:hover {

    right: 65%;
    transition: all 3s ease;

}*/
.member-name{position:absolute;left:0;right:0;
}
.member-details:hover .member-image,.member-details:hover .member-name {
	transition: all 3s ease;
    right: 65%;

}
.member-content {

     opacity:0;
    position: absolute;
    top: 180px;
    left: 0;
    width: 60%;

}
.member-details:hover .member-content {
	transition: all 3s ease;
    opacity:1;
	left:40%;

}

/***stories of change****/
section.change {
    float: left;
    width: 100%;
    margin: 90px 0 0 0;
    padding: 100px 0;
}
.people {
	margin-bottom:65px;
    padding: 12px;
}
.people-image {
	overflow:hidden;
	box-shadow:0 2px 14px rgba(0,0,0,0.2);
    text-align: center;
}
.people-name {
	position:relative;
	font-size: 23px;
    font-weight: 600;
    text-align: center;
    padding: 14px;
}
.people-name:before {
    position: absolute;
    content: "";
    background: #00bcd4;
    width: 39px;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.people-name:after {
    position: absolute;
    content: "";
    background: #00bcd4;
    width: 80px;
    height: 2px;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.people-description {
 	padding: 25px 0;
    text-align: justify;
}
.people-image img{width:100%;transition:all 0.5s ease;}
.people-image:hover img{
    transform: scale(1.2);
}
/*.people{
  position: relative;
  animation-name: example;
  animation-duration: 1s;
}
@keyframes example {

  0%   { transform:rotate(0deg);}
  25%  { transform:rotate(90deg);}
  50%  { transform:rotate(180deg);}
  75%  { transform:rotate(270deg);}
  100% { transform:rotate(360deg);}
}*/